#webcallComponent {
    position: fixed !important;
    top: 150px !important;
    right: 0px;
    background:  #0094d6 !important;
    padding: 10px;
    max-height: 40px;
    color:  white  !important;
    text-align: center !important;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s !important;
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px !important;
    line-height: 20px !important;
    box-shadow: 0 0 10px rgba(0,0,0,0.5) !important;
    white-space: nowrap !important;
    z-index: 10000 !important;
}

#webcallPanel {
    position: fixed !important;
    top: 0px;
    right: -400px;
    width:  400px !important;
    height: 100% !important;
    padding: 0px 0 0 0;
    border-left: 18px solid #000000;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);    
}

#webcallComponent.open {
    right:  400px;
}

#webcallPanel.open {
    right: 0px;
}

#webcallIcon {
    float: left;
    max-height: 20px;
    max-width: 20px;
    margin: 0 5px 0 0;
}

#webcallHeader {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
    display: inline-block;
}

#webcallHeader:hover {
    cursor: pointer;
}

#webcallText {
    text-align: right;
    display: inline-block;
    padding: 0;
    margin: 0 10px 0 0;
    font-family: sans-serif;
    font-size: 16px !important;
    color: white !important;
}

.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: 3;
    animation-iteration-count: 3;
    -webkit-animation-name: flash;
    animation-name: flash;
}

#webcallCloseButton {
    position: absolute !important;
    top: 10px !important;
    right: 10px !important;
    background: #26a69a !important;
    padding: 5px;
    z-index: 10;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
}

#webcallCloseButton:hover {
    cursor: pointer;
}